.team-sprite {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
}

.sprite {
    width: 64px;
    height: 64px;
    background-repeat: repeat-x;
    /* animation: partTheSeas 3s steps(4) infinite;
    animation: newAnimation 3s steps(4) infinite; */
    /* padding: 1px; */
    transform: scale(3);
}

.team-page-main-sprite {
    width: 64px;
    height: 64px;
    background-repeat: repeat-x;
    transform: scale(4);
}

@keyframes spellcast {
    from {
        background-position: 0px -128px;
    }
    to {
        background-position: -512px -128px;
    }
}

@keyframes slash {
    from {
        background-position: 0px -896px;
    }
    to {
        background-position: -384px -896px;
    }
}

@keyframes thrust {
    from {
        background-position: 0px -384px;
    }
    to {
        background-position: -512px -384px;
    }
}

@keyframes standingStill {
    from {
        background-position: 0px -64px;
    }
    to {
        background-position: 0px -64px;
    }
}

/* 
@keyframes partTheSeasBehind {
    from {
        background-position: 0px -10px;
    }
    to {
        background-position: -512px -10px;
    }
} */