.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  background : rgb(168, 168, 177);
  justify-content: center;
}

.nav-link {
  padding : 12px;
  color : blue;
}

.preview-card {
  width: 500px;
  margin-left: 33%;
}

.choose-fighter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
  /* background-color: chocolate; */
}

.fighter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  padding-bottom: 50px;
  /* background-color: blue; */
}

.fighters {
  display: flex;
  max-width: 75px;
  padding: 5px;
}

.selected-fighters {
  display: flex;
  max-width: 75px;
  padding: 5px;
  opacity: .5;
}

.fighter-info {
  display: flex;
  width: 475px;
  /* background-color: blueviolet; */
}

.fighter-details {
  width: 325px;
  /* background-color: brown; */
}

.team-container {
  width: 325px;
  /* background-color: green; */
}

.team-list-container {
  display: flex;
  justify-content: center;
  /* background-color: deeppink; */
}

.battle-team-page {
  display: flex;
  justify-content: center;
  padding: 50px;
  /* background-color: orange; */
}

.fighter-info-sprite {
  display: flex;
  flex-direction: column-reverse;
  width: 150px;
  justify-content: center;
  align-items: center;
  /* padding-top: 100px; */
  /* background-color: aquamarine; */
}

.fighter-info-image {
  width: 150px;
  padding-bottom: 25px;
}